<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>robot的中文社区</title>
</head>
<body>
    <!-- 头部分 -->
    {{include './head.html'}}
    <!-- 文章列表 -->
    <div class="container" style="padding-top:20px;">
        <ul class="list-group">
            {{each ret}}
            <li class="list-group-item clearfix">
                <a href="/detail?id='{{$value._id}}'">{{$value.title}}</a>
                <span class="float-right">{{$value.date.getFullYear()}}-{{$value.date.getMonth()+1}}-{{$value.date.getDate()}} {{$value.date.getHours()}}:{{$value.date.getMinutes()}}:{{$value.date.getSeconds()}}</span>
                <span class="float-right" style="margin-right:15px;">{{$value.username}}</span>
            </li>
            {{/each}}
          </ul>
        {{if ret.length>10}}
          <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              {{each arrayA}}
                <li class="page-item"><a class="page-link" href="#">{{$index+1}}</a></li>
              {{/each}}
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        {{/if}}
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>